:root {
  --first-title-color: #FFFFFF;
  --first-btn-color: #FFFFFF;
  --main-text-color: #434455;
  --typical-lh: 1.5;
  }
p,
h1,
h2,
h3,
h4,
h5,
h6{
  margin: 0;
}
ul{
  margin: 0;
}
.container{
 width: 1158px;
 padding-left: 15px; 
 padding-right: 15px;
 outline: 1px solid red;
 margin: 0 auto;
}
/* busines */
body{
  font-family: "Roboto",sans-serif;
  color: #000;
  letter-spacing: 0.02em;
  }
.list {
  list-style: none;
}
.link {
  text-decoration: none;
}
/* ---------HEADER-------- */
.header {
  padding-top: 24px;
  padding-left: 24px;
}
.header-navigation {
}
.header-logo {
font-family: 'Raleway',sans-serif;
font-weight: 800;
font-size: 18px;
line-height: 1.33;
display: flex;
align-items: center;
letter-spacing: 0.03em;
text-transform: uppercase;
color: #4D5AE5;
}
.header-logo-span {
font-family: 'Raleway';
font-weight: 800;
font-size: 18px;
line-height: 1.33;
display: flex;
align-items: center;
letter-spacing: 0.03em;
text-transform: uppercase;
color: #2E2F42;
}
.header-item {
  font-weight: 500;
  font-size: 16px;
  line-height: var(--typical-lh);
  color: #2E2F42;
}
.header-link {
  font-size: 16px;
  line-height: var(--typical-lh);
  color: var(--main-text-color);
}
.header-link:hover,
.header-link:focus{
 color: #4D5AE5; 
}
.header-tel {
  font-size: 16px;
  line-height: var(--typical-lh);
  color: var(--main-text-color);
}
.header-tel:hover,
.header-tel:focus{
 color: #4D5AE5; 
}
/* ---------HERO-------- */
.hero {
}
.hero-title {
  margin-top: 188px;
  
  font-size: 56px;
  line-height: 1.07;
  text-align: center;  
  color: var(--first-title-color);
  background: #2E2F42;;
}
.hero-btn {
  padding: 16px 32px;
  display: inline-block;
  text-align: center;
  border-radius: 4px;

  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  align-items: center;
  letter-spacing: 0.04em;
  color: var(--first-btn-color);
  background-color: #4D5AE5;
  cursor: pointer;
}
.hero-btn:hover,
.hero-btn:focus{
  background-color: #E7E9FC;
}
/* ---------PURPOSES-------- */
.purposes {
  margin-top: 120px;
}
.purposes-item .title {
  
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  color: #2E2F42;
}
.purposes-item .texte {
  padding: 8 px;

  font-weight: 400;
  font-size: 16px;
  line-height:var(--typical-lh);
  color: var(--main-text-color);
}
/* ---------BUSSINES-------- */
.bussines {
  margin-top: 120px;
}
.bussines-title,.team-title {
  font-weight: 500;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  text-transform: capitalize;
  color: #2E2F42;
}
.bussines-foto {
  margin-top: 72px;
}
/* ---------TEAM-------- */
.team {
  margin-top: 120px;
}
.team-title{
  margin-top: 120px;
}
.team-list{
  margin-top: 72px;
}
.team-list .title {
  margin-top: 32px;

  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  text-align: center;
  color: #2E2F42;
}
.team-foto {  
}
.team-list .texte {
  margin-top: 8px;

  font-weight: 400;
  font-size: 16px;
  line-height: var(--typical-lh);
  text-align: center; 
  color: var(--main-text-color);
}
/* ---------FOOTER-------- */
.footer {
  margin-top: 120px;
  padding-top: 100px;
  padding-left: 100px;
}
.footer-logo {
font-family: 'Raleway', sans-serif;
font-weight: 800;
font-size: 18px;
line-height: 1.17;
display: flex;
align-items: center;
letter-spacing: 0.03em;
text-transform: uppercase;
color: #4D5AE5;
}
.footer-logo-span {
font-family: 'Raleway', sans-serif;
font-weight: 800;
font-size: 18px;
line-height: 1.17;
display: flex;
align-items: center;
letter-spacing: 0.03em;
text-transform: uppercase;
color: #F4F4FD;
}
.footer-title {
  font-weight: 400;
  font-size: 16px;
  line-height: var(--typical-lh);
  letter-spacing: 0.02em;
  color: #E7E9FC;
}
/* portfolio */
.header {
}
.header-navigation {
}
.header-logo {
}
.header-item {
}
.header-link,
.header-tel {
}
.hero {
  margin-top: 96px;
}
.hero-portfolio-btn {
  padding: 12px 24px;
  display: inline-block;
  text-align: center;
  border-radius: 4px;
}

.hero-portfolio-btn .btn {
border: 1px solid #E7E9FC;


font-family: inherit;
font-weight: 500;
font-size: 16px;
line-height: var(--typical-lh);
align-items: center;
text-align: center;
letter-spacing: 0.04em;
color: #4D5AE5; 
cursor: pointer;
}
.hero-portfolio-btn .btn:hover,
.hero-portfolio-btn .btn:focus{
  background-color: #4D5AE5;
}
.hero-portfolio-btn .btn-title {
font-family: inherit;
font-weight: 500;
font-size: 16px;
line-height: var(--typical-lh);
display: flex;
align-items: center;
text-align: center;
letter-spacing: 0.04em;
cursor: pointer;
background: #404BBF;
color: #FFFFFF;
}
.hero-portfolio-btn .btn-title:hover,
.hero-portfolio-btn .btn-title:focus{
  background-color: #E7E9FC;
}
.hero-list {
}
.hero-item {
}
.hero-link {
}
.hero-link:hover,
.hero-link:focus{
}
.cards {
  margin-top: 72px;
}
.cards-list {
}
.cards-foto {
}
.cards-list .title {
margin-top: 32px;

font-weight: 500;
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;
color: #2E2F42;
}
.cards-list .texte {
margin-top: 8px;

font-size: 16px;
line-height: var(--typical-lh);
letter-spacing: 0.02em;
color: var(--main-text-color);
}

